App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border: 0 none;position: relative;}
/*[class="fa"]:before {font-family: 'fontawesome', sans-serif;}*/

html {
  background: black;
  width: 100%;
  height: 100%;
  font-family: dosis, sans-serif;
  font-weight: 300;
  color: #fff;
}
.container {
	margin: 0px;
	
}
.header {
	width : 100vw;
	height : 100px;
}
.header .logo{
	
	margin: auto;
	position: absolute;
	left:0px;
	
	
}
.header .main-menu{
	/*width: 70%;*/
	position: absolute;
	right: 0px;
	margin-top: 85px;
	
}
section {
  background: #FCBA13;
  
  width: 85vw;
  /*max-width: 100vw;
  min-width: 390px;*/
  height: 15vh;
  /*margin: 4rem auto;*/
  box-shadow: 0 0 6px rgba(0,0,0,.4);
   display: inline-block;
    vertical-align: top;
    margin-right: 20px;
	
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;
}
article {
  position: absolute;
  left: 0;
  top: 5rem;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem 0;
  overflow: auto;
  transition: .7s;
  transform: scale(0);
  transform-origin: center right;
  transition-delay: .1s;
}
article:before {
  color: rgba(0,0,0,.2);
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: rgba(0,0,0,.6);
}
body > h2 {height: auto;}
h2 img {
  width: 120px;
  height: auto;
  background: #f9f9f9;
  border: 5px solid rgba(0,0,0,.7);
  border-radius: 50%;
  padding: 5px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 7px rgba(0,0,0,.5);
}
h2 span {
  font-family: Great Vibes;
  font-weight: 400;
  display: block;
  margin-bottom: 1rem;
}
footer ul {
  width: 100%;
  color: #037B49;
}
footer li {
  list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;  
}
footer li::before {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
p, dl, ol {
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: center;
}
ol li {margin: 0 0 .5rem 1rem;}
dt {
  font-size: 1.6rem;
  font-weight: 600;
  text-indent: 1.5rem;
}
nav {
  background: #FCBA13;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
nav:after {
  content:'';
  width: 10%;
  height: 5rem;
  background: #BEE3D1;
  position: absolute;
  transition: .5s;
}
input {
  display: none;
}
label {
  width: 10%;
  float: left;
  color: #BEE3D1;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
label:hover {color: #1E6743;}
label:before {
  display: block;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 2;
}
#home:checked ~ nav [for='home'],
#extinguishers:checked ~ nav [for='extinguishers'],
#products:checked ~ nav [for='products'],
#info:checked ~ nav [for='info'] {
  color: #1E6743;
  font-weight: 600;
}
#extinguishers:checked ~ nav [for='extinguishers'] {}
#home:checked ~ nav [for='home'] {}

#home:checked ~ nav:after {
  left: 0;
}
#extinguishers:checked ~ nav:after {
  left:25%;
  border-top: 0 none;
}
#products:checked ~ nav:after {
  left: 50%;
}
#info:checked ~ nav:after {
  left: 75%;
}

#home:checked ~ .uno,
#extinguishers:checked ~ .dos,
#products:checked ~ .tres,
#info:checked ~ .cuatro {
  display: block;
  transform: scale(1);
  transition-delay: .5s; 
}
a {color: rgba(0,0,0,.4)}
a:hover {color: rgba(0,0,0,.2)}

.Side-menu {
  width: 25%;
  max-width: 400px;
  margin-top: 300px;
  /*width: 100%;*/
}
.Side-menu .children {
  transition: max-height 0.7s ease-in;
  overflow: hidden;
}
.Side-menu .children.active {
  transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
  max-height: 9999px;
}
.Side-menu .children.inactive {
  transition: max-height 0.6s cubic-bezier(0, 1, 0, 1) -0.15s;
  max-height: 0;
}
.Side-menu * {
  box-sizing: border-box;
}
.Side-menu .divider {
  height: 42px;
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 12px;
}
.Side-menu.rtl .divider {
  text-align: right;
}
.Side-menu.rtl .item .item-title .item-label {
  float: right;
}
.Side-menu.rtl .item .item-title .item-icon {
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 3px;
  float: right;
}
.Side-menu.rtl .item .item-title .fa-chevron-down,
.Side-menu.rtl .item .item-title .fa-chevron-left,
.Side-menu.rtl .item .item-title .fa-chevron-right {
  float: left;
}
.Side-menu.rtl .item .children {
  padding-left: 0;
  padding-right: 25px;
}
.Side-menu .item .item-title {
  height: 40px;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  cursor: pointer !important;
}
.Side-menu .item .item-title .item-icon {
  margin-right: 10px;
}
.Side-menu .item .item-title .fa-chevron-down,
.Side-menu .item .item-title .fa-chevron-left,
.Side-menu .item .item-title .fa-chevron-right {
  float: right;
  position: relative;
  font-size: 12px;
  padding-top: 3px;
}
.Side-menu .item:hover > .item-title {
  cursor: pointer;
}
.Side-menu .item.item-level-1 > .item-title {
  height: 45px;
}
.Side-menu .item .children {
  padding-left: 25px;
}
.Side-menu-default {
  background-color: #222D32;
  color: #B8C7CE;
}
.Side-menu-default *:not(i) {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.Side-menu-default .divider {
  background-color: #1A2226;
  color: #4A636E;
  text-transform: uppercase;
}
.Side-menu-default .item a {
  text-decoration: none;
  color: #B8C7CE;
}
.Side-menu-default .item.active {
  color: white;
}
.Side-menu-default .item.active .children {
  color: #B8C7CE;
}
.Side-menu-default .item.active > .item-title > a {
  color: white;
}
.Side-menu-default .item:hover > .item-title {
  color: white;
}
.Side-menu-default .item:hover > .item-title a {
  color: white;
}
.Side-menu-default .item.item-level-1:hover > .item-title {
  background-color: #435863;
}
.Side-menu-default .item.item-level-1:hover,
.Side-menu-default .item.item-level-1.active {
  border-left: 4px solid #C4EAF2;
}
body {
  background-color: #F2F2F2;
  margin: 0;
 
}
* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.jumbotron {
  text-align: center;
  background-color: #F2F2F2;
}
.jumbotron ul {
  width: 400px;
  margin: 32px auto;
}
.jumbotron .logo-list a {
  text-decoration: none !important;
  margin: 0 8px;
}
.Side-menu-custom .divider {
  background-color: #ABABAB;
  font-weight: 600;
}
.Side-menu-custom .item {
  background-color: #CCC;
}
.Side-menu-custom .item.item-level-1 .item-label {
  font-style: italic;
}
.Side-menu-custom .item.item-level-2 .item-label {
  font-size: 10px;
}
.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-menu ul li {
    float: left;
	
}
.main-menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-menu ul li a:hover {
    background-color: #111;
}




/********************
Text-image component
*********************/


.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.product-content {
    background-color: black;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}



/********************************************
	BREAKPOINT WIDTHS
********************************************/
/********************************************
	FONTS
********************************************/
/********************************************
	COLOURS
********************************************/
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer; }
  .carousel .control-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
  .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: ''; }
  .carousel .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
    display: none; }
  .carousel .control-prev.control-arrow {
    left: 0; }
    .carousel .control-prev.control-arrow:before {
      border-right: 8px solid #fff; }
  .carousel .control-next.control-arrow {
    right: 0; }
    .carousel .control-next.control-arrow:before {
      border-left: 8px solid #fff; }

.carousel {
  position: relative;
  width: 100%; }
  .carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .carousel button {
    outline: 0;
    border: 0;
    background: none; }
  .carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none; }
  .carousel .carousel {
    position: relative; }
  .carousel .control-arrow {
    top: 50%;
    margin-top: -13px;
    font-size: 18px; }
  .carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden; }
  .carousel .thumbs {
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    list-style: none;
    white-space: nowrap; }
  .carousel .thumb {
    -webkit-transition: border 0.15s ease-in;
    -moz-transition: border 0.15s ease-in;
    -ms-transition: border 0.15s ease-in;
    -o-transition: border 0.15s ease-in;
    transition: border 0.15s ease-in;
    display: inline-block;
    width: 80px;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px; }
    .carousel .thumb.selected, .carousel .thumb:hover {
      border: 3px solid #333;
      padding: 2px; }
    .carousel .thumb img {
      vertical-align: top; }
  .carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden; }
    .carousel.carousel-slider .control-arrow {
      top: 0;
      color: #fff;
      font-size: 26px;
      bottom: 0;
      margin-top: 0;
      padding: 5px; }
      .carousel.carousel-slider .control-arrow:hover {
        background: rgba(0, 0, 0, 0.2); }
  .carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -ms-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
    transition: height 0.15s ease-in; }
    .carousel .slider-wrapper.axis-horizontal .slider {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex; }
      .carousel .slider-wrapper.axis-horizontal .slider .slide {
        flex-direction: column;
        flex-flow: column; }
    .carousel .slider-wrapper.axis-vertical {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex; }
      .carousel .slider-wrapper.axis-vertical .slider {
        -webkit-flex-direction: column;
        flex-direction: column; }
  .carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%; }
    .carousel .slider.animated {
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      -ms-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out; }
  .carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #000; }
    .carousel .slide img {
      width: 100%;
      vertical-align: top;
      border: 0; }
    .carousel .slide iframe {
      display: inline-block;
      width: calc(100% - 80px);
      margin: 0 40px 40px;
      border: 0; }
    .carousel .slide .legend {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -45%;
      width: 90%;
      border-radius: 10px;
      background: #000;
      color: #fff;
      padding: 10px;
      font-size: 12px;
      text-align: center;
      opacity: 0.25;
      -webkit-transition: opacity 0.35s ease-in-out;
      -moz-transition: opacity 0.35s ease-in-out;
      -ms-transition: opacity 0.35s ease-in-out;
      -o-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out; }
  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    text-align: center;
    width: 100%; }
    @media (min-width: 960px) {
      .carousel .control-dots {
        bottom: 0; } }
    .carousel .control-dots .dot {
      -webkit-transition: opacity 0.25s ease-in;
      -moz-transition: opacity 0.25s ease-in;
      -ms-transition: opacity 0.25s ease-in;
      -o-transition: opacity 0.25s ease-in;
      transition: opacity 0.25s ease-in;
      opacity: 0.3;
      filter: alpha(opacity=30);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
      background: #fff;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      cursor: pointer;
      display: inline-block;
      margin: 0 8px; }
      .carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
  .carousel .carousel-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    color: #fff; }
  .carousel:hover .slide .legend {
    opacity: 1; }
	
	/* Added Carousel Positioning Style to the default CSS*/
	.content-carousel {
	margin-top:8%;
}
